.trigger {
	font-size: 18px;
	line-height: 64px;
	padding: 0 24px;
	cursor: pointer;
	transition: color .3s;
}

.trigger:hover {
	color: #1890ff;
}

.logo {
	height: 32px;
	background: rgba(255, 255, 255, .2);
	margin: 16px;
}

.logo {
	padding-top: 4px;
	height: 44px;
	background: rgba(255, 255, 255, .2);
	color: white;
	font-size: 32px;
	line-height: 34px;
	z-index: 1;
}

.ant-layout-header {
	z-index: 2;
}

.text-center {
	text-align: center;
}

.text-left {
	padding-top: 5px;
	text-align: left;
	padding-left: 13px;
	width: 45px;
}
